

<div class="page-width">
  <div class="left">
    {%- for block in section.blocks -%}

      
    
     {%- endfor -%} 
  </div>
  <div class="right">
    
  </div>
    
</div>
      
              
{% schema %}
{
  "name": {
    "en": "FAQ section"
  },
  "class": "custom-collection-slider section",
  "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
        }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Section items",
      "settings": [
        {
          "type": "select",
          "id": "select-column",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Select column"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Faq section"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}