

<div class="page-width">
  <div class="left">
    {%- for block in section.blocks -%}

      
    
     {%- endfor -%} 
  </div>
  <div class="right">
    
  </div>
    
</div>
      
              
{% schema %}
{
  "name": {
    "en": "FAQ section"
  },
  "class": "custom-collection-slider section",
  "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
        }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Section items",
      "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Button Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Faq section"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}