<div class="container">
  <div class="wrap">
    <h1>{{ section.settings.title }}</h1>
  </div>
</div>

<style>
  .nature-main-section{
    background:url({{section.settings.bg}});
  }
</style>
{% schema %}
{
  "name": {
    "en": "Nature main"
  },
  "class": "nature-main-section section",
  "settings": [
       {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
  ],


  "presets": [
    {
      "name": {
        "en": "Nature main"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}