<div class="container">
  <div class="wrap">
    <div clsss="text-section">
      {{ section.settings.text }}
    </div>

    <div class="">
      form
    </div>
    
  </div>
</div>


{% schema %}
{
  "name": {
    "en": "Stores form"
  },
  "class": "stores-form-section section",
  "settings": [
       {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
  ],


  "presets": [
    {
      "name": {
        "en": "Stores form"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}