<div class="container">
  <div class="wrap">
    <h1>{{ section.settings.title }}</h1>
  </div>
</div>


{% schema %}
{
  "name": {
    "en": "Hero text custom"
  },
  "class": "hero-text-custom blog-hero-section section",
  "settings": [
       {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
  ],


  "presets": [
    {
      "name": {
        "en": "Hero text custom"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}