.master-wrapper {
    display: flex;
    column-gap: 70px;
}
.master__card-img {
    position: relative;
    padding-top: 100%;
}
.master__card-img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.master__card {
    flex-grow: 1;
    max-width: 50%;
}
.master__card-content {
    padding: 30px 0;
}
.master__card-job {
    font-family: Montas;
    font-size: var(--font-size-22);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}
.master__card-name {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Montas;
    font-size: var(--font-size-35);
    font-style: normal;
    font-weight: 500;
    line-height: 142.857%;
    letter-spacing: 1.75px;
}
.master__card-text, .master__card-links span {
    font-family: Cerebri Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 0.4px;
}
.weight-700 {
    font-weight: 700;
}
.product-link {
    margin-bottom: 20px;
}
.product-link a {
    color: inherit;
}
.master__card-links .a-btn {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding-right: 30px;
}
.master__card-links .a-btn::after {
    width: ;
    content: "\2192";
    font-size: 40px;
    top: -2px;
    position: relative;
}

@media(max-width: 767px) {
    .master-wrapper {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .master__card {
        max-width: none;
    }
}